.example-container {

    label {
        padding-left: 1rem;
    }
        .option-selector {
            border: 1px solid red;
            .task {
                border: 1px solid red;
                width: 2rem;
            }
            .note {
                margin-left: 1rem;
                width: 2rem;
                border: 1px solid red;
            }
        }
    
   
    .example-full-width {
        top:1rem;
    }

    .cancel-button {
        right: 1rem;
    }

     .cancel-button, .add-button {
        margin:0 auto;
        float: right;
        top: 0.5rem;
        &:hover {
            background: white;
        }
    }
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }



