.example-container {

    label {
        padding-left: 1rem;
    }

    .option-selector {
        .note {
            margin-left: 1rem;
        }
    }

    .example-full-width {
        top:1rem;
    }

    .cancel-button {
        right: 1rem;
    }

     .cancel-button, .add-button {
        margin:0 auto;
        float: right;
        top: 0.5rem;
        &:hover {
            background: white;
        }
    }
}