<div class="col-xl-4 d-inline-block tile">
    <div class="row">
      <div class="d-inline col-xl-4 img-tile">
          <i class="material-icons">event</i>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">event</mat-icon> -->
      </div>
      <div class="d-inline col-xl-6 description-tile">
        <div class="row">
          <div class="col-xl-6 offset-xl-6 description">
            <label>Notes</label> 
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 offset-xl-5 amount">
              <label>1500</label> 
          </div>
        </div>
      </div>
  
    </div>
    <div class="row">
      <div class="col-xl-10 offset-xl-1 footer-tile">
          <i class="material-icons">send</i>
          <label>Go to Notes module </label>
      </div>
    </div>
  </div>
