.top-bar {
    // background: #3c4858;
    background: #1f283e;
} 

.side-bar {
    height: 41rem;
    overflow: hidden;
    padding: 0;
    background: #1A2035;
    opacity: 0.9;
    // .img {
    //     height: 40rem;
    //     filter: contrast(100%) brightness(40%);
    // }
    .universal-toolbar {
        // right: 0;
        margin-top: 3rem;
        background: yellow;
        height: 50rem;
        width: 100%;
    }
} 

.main {
    float: right;
    margin-top:4.5rem;
    height: 36.5rem;
    // background: #3c4858;
    background: #1A2035;
}