.top-bar {
    background: #1f283e;
}

.side-bar {
    height: 100%;
    overflow: hidden;
    padding: 0;
    background: #1A2035;
    opacity: 0.9;
}

.main {
    right: 0;
    overflow: hidden;
    top:4.5rem;
    height: 90.5%;
    background: #1A2035;
}

.configuration-button {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
}
.universal-toolbar {
    height: 25rem;
    background-color: #2F3954;
    position: absolute;
    right: 3rem;
    z-index: 10;
    border-radius: 8px 8px 8px 8px;
}

.alert {
    position: absolute;
}
