<div class="row">
  <div class="logo">
    <mat-panel-title>
      <!-- <img matListAvatar src="../../../assets/img/Computer (1).png" alt="..."> -->
    </mat-panel-title>
    <!-- <label for="">Dashboard</label> -->
  </div>
</div>
<br/>
<mat-divider></mat-divider>
<div class="row">
    <mat-accordion class="col-xl-12">
        <mat-expansion-panel class="panel-container">
          <mat-expansion-panel-header>
            <mat-panel-title class="perfil">
                <img matListAvatar src="../../../assets/img/perfil2.jpg" alt="...">
            </mat-panel-title>
            <mat-panel-description class="name">
             name profile
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <button mat-menu-item aria-label="Example icon-button with a menu">
              <mat-icon class="notification-button">account_box</mat-icon>
              <label>My Profile</label> 
          </button>
             
          <button mat-menu-item aria-label="Example icon-button with a menu">
              <mat-icon class="notification-button">account_box</mat-icon>
              <label>Edit Profile</label>
          </button>            
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br/>
<mat-divider></mat-divider>
<div class="row">
    <mat-list class="col-xl-12">    
        <mat-list-item class="list-items" routerLink="/Task_and_Notes" (click)="navigate('Task_and_Notes')">
          <mat-icon mat-list-icon class="icon-menu md-18">home</mat-icon>
          <h4 mat-line>Task and Notes</h4>
        </mat-list-item>
        <mat-list-item class="list-items" routerLink="/dashboard" (click)="navigate('dashboard')">
            <mat-icon mat-list-icon class="icon-menu md-18">dashboard</mat-icon>
            <h4 mat-line>Dashboard</h4>
        </mat-list-item>
        <mat-list-item class="list-items" routerLink="/profile" (click)="navigate('profile')">
            <mat-icon mat-list-icon class="icon-menu">dashboard</mat-icon>
            <h4 mat-line>Profile</h4>
        </mat-list-item>
        <mat-list-item class="list-items" routerLink="/evento" (click)="navigate('evento')">
          <mat-icon mat-list-icon class="icon-menu">add_to_photos</mat-icon>
          <h4 mat-line>Eventos</h4>
        </mat-list-item>
        <mat-list-item class="list-items" routerLink="/imagen" (click)="navigate('imagen')">
            <mat-icon mat-list-icon class="icon-menu">camera_alt</mat-icon>
            <h4 mat-line>Imagenes</h4>
        </mat-list-item>
    </mat-list>
</div>
