<mat-list class="profile-panel">
    <h3 mat-subheader>Profile</h3>
    <div class="input-container col-xl-12">
        <div class="form-input d-inline">
            <mat-form-field class="input col-xl-6">
                <mat-placeholder>User Name</mat-placeholder>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="col-xl-6">
                <mat-placeholder>Mail</mat-placeholder>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="form-input d-inline">
            <mat-form-field  class="col-xl-12">
                <mat-placeholder>Profile Description</mat-placeholder>
                <textarea matInput
                      ></textarea>
            </mat-form-field>
        </div>
        <div class="form-input d-inline">
            <mat-form-field  class="col-xl-6">
                <mat-placeholder>Company</mat-placeholder>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-placeholder>City</mat-placeholder>
                <input matInput>
            </mat-form-field >
        </div>
    </div>
    <button mat-button class="update-profile">Update Profile</button>
</mat-list>
