.profile-panel {
    position: absolute;
    top: 5rem;
    left: 2rem;
    height: auto;
    // background: #202940;
    background: #202940;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 3rem;

    h3 {
        position: absolute;
        margin-top: -3rem;
        width: 34rem;
        background: #D500F9;
        color: white;
        height: 5rem;
        border-radius: 5px 5px 5px 5px;
    }

    .input-container {
        margin-top: 3rem;
        .form-input {
            color: white;

            .input-color {
                font-size: 0.8rem;
            }
            
        }
    }

    .update-profile {
        right: 1rem;
        margin-top: 0.1rem;
        color: white;
        border:2px solid #D500F9;
        background: transparent;
        position: absolute;
    
        &:hover {
            background: transparent;
        }
    }   
}

.profile-panel-user {
    position: absolute;
    right: 3rem;
    top: 3rem;
    height: auto;
    // background: #202940;
    background: #202940;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 3rem;

    img {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        margin-left: 8rem;
        margin-top: -3rem;
    }

    .input-color {
        color: white;
        text-align: center
    }

    .role {
        color: white;
        margin: 1rem 6.3rem;
    }
    .name {
        color: white;
        margin-left: 7rem;
    }
    .description {
        color:white;

    }

    .follow {
        right: 1rem;
        float: right;
        margin-top: 0.1rem;
        color: grey;
        border:2px solid #D500F9;
        background: transparent;
    
        &:hover {
            background: transparent;
        }
    }
}

mat-placeholder {
    color: #D500F9;
}